@font-face {
    font-family: "Hanaley";
    src: url("../../halaney/halaney.otf");
}

/*region WIDGET*/
.widget img{
    box-shadow: 0 0 50px 10px darkmagenta;
}

.widget .title {
    font-family: Hanaley, serif;
    font-size: 400%;
}

/* Where the recipes are shown */
#leftcontent {
    padding: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 10px 10px 100px black;
    background-color: #635EF2;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s;
}

/*#rightcontent {*/
/*}*/
/*#rightcontent:hover {*/
/*}*/
/*endregion*/

/*region CONTENT*/

.cont {
    width: 100%;
    height: 100%;
    transition: all 2s;
    opacity: 0.5;
    /*z-index: -1;*/
}
.cont-left{
    background-image: url('../resources/scooter.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.cont-right {
    background-image: url('../resources/truck.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.cont:hover {
    opacity: 1;
    background-size: 80%;
}

.cont .btn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*endregion*/


/*region SPLIT MOTION*/

/* Content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #2E5159;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #6C8C80;
}

/*endregion*/

/*region THEME*/
.darktheme {
    /* background-color: #404040; */
    background-image: radial-gradient(circle at 0% 0%, #2E5159, #6C8C80);
}

.lighttheme {
    background-color: #F0F8FF;
    background-image: radial-gradient(circle at 0% 0%, #E5F230, #0AFB60);
}

/*endregion*/