@font-face {
  font-family: "title";
  src: url("../../../be-vietnam/BeVietnam-Regular.ttf");
}
@font-face {
  font-family: "subtitle";
  src: url("../../../be-vietnam/BeVietnam-Thin.ttf");
}
@font-face {
  font-family: "navbar";
  src: url("../../../be-vietnam/BeVietnam-Light.ttf");
}

:root {
  --bg-color: #274647;
  --bg-color2: #4D8C8C;
  --nav-bg-hover: #234040;
  --nav-bg: #4D8C8C;
  --nav-text-hover: #D99F84;
  --nav-text: white;
  --nav-color-shadow: #1C3333;
  --footer-bg: #181F33;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--footer-bg);
  color: white;
  overflow-x: hidden;
  min-height: 100%;
}

nav {
  overflow: hidden;
  background-color:var(--nav-bg);
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 10px var(--nav-color-shadow);
}
nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  transition: background-color .5s;
}
nav a {
  display: block;
  color: var(--nav-text);
  text-decoration: none;
  font-family: navbar, sans-serif;
  font-size: 18px;
  padding: 15px 18px;
  transition: color 1s;
}
nav li:hover{
  background-color: var(--nav-bg-hover);
}
nav a:hover {
  color: var(--nav-text-hover);
}

.main {
  top: 0;
  left: 0;
  background-image: url("../../resources/3peoples.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color);
  background-size: 40%;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 10% .5fr 1fr 2fr 2fr 10%;
  grid-gap: 20px;
}

.titles {
  grid-column: 1;
  grid-row: 3;
  line-height: 15px;
  align-content: center;
  width: auto;
  text-shadow: 5px 5px 10px var(--nav-color-shadow);
}
.titles h1 {
  text-align: end;
  font-family: "title", sans-serif;
  font-size: calc(1.5rem + 4vw);
}
.titles h2 {
  text-align: end;
  font-family: "subtitle", sans-serif;
  font-size: calc(1rem + 1vw);
}

.content1 {
  display: block;
  background: var(--bg-color2);
  height:100vh;
  width:100%;
  padding: 60px 60px 60px 120px;
  box-sizing:border-box;
}

footer {
  clear: both;
  position: relative;
  height: 60px;
  vertical-align: center;
  background-color: var(--footer-bg);
  text-align: center;
}

footer div {
  height: 100%;
  font-size: calc(.5rem + .5vw);

  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

footer span {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
}